.terraform/
terraform.tfstate
terraform.tfstate.backup
test
terraform.tfstate.d/
Devops-KeyPair-2021.pem

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
.terraformrc
terraform.rc

.terraform.lock.hcl